/* -----------------------------------------------------*/
/* --------------->>> variables.less <<<----------------*/
/* -----------------------------------------------------*/

.grotesque-stack {
  font-family: 'GrotesqueMTStd', Helvetica, Arial, Sans-serif;
}

.colonial-stack {
  font-family: 'LHFColonialRomanRegular', Georgia, Times, "Times new roman", serif;
}

.dropshadow(@size,@color) {
  box-shadow: 0 0 @size @color;
}

/* -----------------------------------------------------*/
/* ------------->>> /end variables.less <<<-------------*/
/* -----------------------------------------------------*/
